PORT=8000
MONGODB_URI=mongodb://Rija-Arzoo:velox123velox456velox789@ac-wvdsavr-shard-00-00.ljseduw.mongodb.net:27017,ac-wvdsavr-shard-00-01.ljseduw.mongodb.net:27017,ac-wvdsavr-shard-00-02.ljseduw.mongodb.net:27017/?ssl=true&replicaSet=atlas-ufv8o1-shard-0&authSource=admin&appName=Cluster0